{
    "msgtype": "markdown",
    "markdown": {
        "content": "## 【告警通知】

#### 告警数量: 【 {{ len .alerts }} 】

### 告警(alerts)详细

{{range $index,$alert := .alerts}}

#### ==== 第{{  add $index 1 }}条  ====

- 所属集群: {{ $alert.labels.cluster }}

- 资源类型: {{ $alert.annotations.kind }}

- 告警规则: {{ $alert.labels.alertname }}

- 指标类型: {{ $alert.labels.alerttype }}

- 节点地址: {{ $alert.labels.host_ip}}

- 告警等级: {{ if eq $alert.labels.severity "warning" }}一般告警{{else if eq $alert.labels.severity "critical" }}危险告警{{else if eq $alert.labels.severity "error" }}重要告警{{end}}

- 告警描述: {{ $alert.annotations.summary }}

- 告警消息: {{ $alert.annotations.message }}

- 告警开始: {{ $alert.startsAt }}

- 告警结束时间: {{ $alert.endsAt }}

{{end}}"
    }
}